.lotus {
    width: 100%;
}
.lotus-image {
    width: 100%;
    height: auto;
}
.past {
    text-align: center;
    padding: 2em;
    padding-bottom: 0;
}
.past > p {
    padding: 2em;
    padding-bottom: 0;
}
.flyers {
    padding: 2em;
}
.date {
    color: rgb(73, 143, 223);
    font-size: 1.5rem;
}
.date:hover {
    color: rgb(136, 183, 235);
}