.lotus {
    width: 100%;
}
.lotus-image {
    width: 100%;
    height: auto;
}
.past {
    text-align: center;
    padding: 2em;
}
.past > p {
    padding: 2em;
    padding-bottom: 0;
}
.flyers {
    padding: 2em;
}